/****************************************
GENERALS
*****************************************/
body {
  font-size: 100%;
  font-family: $sans-serif;
}

a,
a:visited {
  color: $linkColor;
}
a:hover {
  color: $linkHoverColor;
}

a {
  text-decoration: none;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}

::-moz-selection {
    background: $selectionColor;
    text-shadow: none;
}

::selection {
    background: $selectionColor;
    text-shadow: none;
}

/* HEADINGS / TYPOGRAPHY */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: $sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 400;
  margin: 0 0 10px 0;
  /*
  if you're going to use webfonts, be sure to check your weights
  http://css-tricks.com/watch-your-font-weight/
  */

  /* removing text decoration from all headline links */
  a {
    text-decoration: none;
  }
}


h1 { }
h2 { }
h3 { }
h4.widgettitle { }

.white {
  color: white;
}
.text-shadow {
  text-shadow: #949494 0px 1px 5px;
}
/****************************************
STRUCTURES
*****************************************/
#container {
  margin: 0px auto;
}

#main {

}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
  width: 96%;
  margin: 0 auto;
}

/****************************************
HEADERS
*****************************************/
header { }
#logo { }

/* NAV */
nav { }

/* MAIN */
#main { }

/* SIDEBAR */
aside { }


/****************************************
PAGE TEMPLATES
*****************************************/

.home {
  #main {

  }
}

/****************************************
PAGE TEMPLATES
*****************************************/


/* FOOTER */

#footer {

}


