/*********************
BUTTONS
*********************/

.button, .button:visited {
  padding: 4px 12px;
  display: inline-block;
  text-align: center;
  font-size: 0.8em;
  text-decoration: none;
  cursor: pointer;
  line-height: 21px;
  text-transform: uppercase;
  @include border-radius(4px);
  @include css-gradient($linkColor, darken($linkColor, 5%));

  &:hover, &:focus {
    @include css-gradient(darken($linkColor, 5%), darken($linkColor, 10%));
  }

  &:active {
    @include css-gradient(darken($linkColor, 5%), $linkColor);
  }
}

.blue-button, .blue-button:visited {
    border: 1px solid #0169b0;
    text-shadow: 0px -1px 0px rgb(1, 105, 176);
    background-color: rgb(52, 121, 168);
    background-image: linear-gradient(to bottom, rgb(15, 157, 188), rgb(52, 121, 168));
    box-shadow: 0px 1px 0px rgb(19, 196, 235) inset;

  &:hover, &:focus {
    border: 1px solid #0169b0;
    text-shadow: 0px -1px 0px rgb(1, 105, 176);
    background-color: rgb(52, 121, 168);
    @include css-gradient( darken($linkColor, 2%), darken($linkColor, 2%) );
  }
  &:active {
    @include css-gradient( darken($linkColor, 5%), $linkColor );
  }
}