// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY', 'Font Style', 'Font Weight');


//Typography
$serif : 'Abraham Lincoln';
$sans-serif : 'Geogrotesque';

@include fontface('Geogrotesque', '../../assets/fonts/', 'Geogtq-Rg', normal, 400);
@include fontface('Abraham Lincoln', '../../assets/fonts/', 'Abraham Lincoln', normal, 400);


// Structure
$pageWidth: 1160px;

// Text Selection
$selectionColor: orange;

// Links
$linkColor: #c21920;
$linkHoverColor: darken(#c21920, 3%);

// Other
