/* ==========================================================================
   Variables
   ========================================================================== */

// Structure
$pageWidth: 60em;
$max-width: 60em;
// Color

$darkGray: #4d4d4d;
$gray: #c9c9c9;
$lightGray: #b7b3b3;
$black : #302924;


// Text Selection
$selectionColor: #ffd400;

// Links
$linkColor: $black;
$linkHoverColor: darken($linkColor, 5%);